@import 'reset';

body {
    font-size: 100%;
    padding: 20px;
}

.header {
    font-size: 3em;
    margin-left: 10px;
    display: inline-block;
    width: 50%;

    hr {
        display: block;
    }
}

.header-container {
    position: relative;
}

.buttons-right {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.btn {
    background-color: greenyellow;
    color: white;
    font-weight: bold;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    transition: 0.6s;
    cursor: pointer;
}
  
.btn:hover {
    background-color: green;
}

.products-list {
    padding: 20px;
}

.product-item {
    position: relative;
    display: inline-table;
    padding: 20px 10px 20px 10px;
    margin: 10px 30px;
    border-color: black;
    border-style: solid;
    border-radius: 0px;
    border-width: 2px;
    background-color: whitesmoke;
    width: 18%;
    text-align: center;

    span {
        vertical-align: middle;
    }
}

.form-group {
    display: table-row;

    .form-element {
        margin: 5px;
        padding: 5px;
        display: table-cell;
    }

    .form-label {
        margin: 5px;
        padding: 5px;
        display: table-cell;
        width: 200px;
        font-size: 1.2em;
    }
}

.description {
    display: block;
    max-width: 40%;
    margin-top: 10px;
}

$darkRed: #800;
$red: red;

.error-msg {
    padding: 5px 10px;
    border-radius: 3px;
    color: $darkRed;
    margin: 5px 5px;
    background-color: $red;
    font-weight: 500;
    font-size: 1em;
    display: inline-block;
}

.cb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
}