/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 100%;
  padding: 20px;
}

.header {
  font-size: 3em;
  margin-left: 10px;
  display: inline-block;
  width: 50%;
}
.header hr {
  display: block;
}

.header-container {
  position: relative;
}

.buttons-right {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.btn {
  background-color: greenyellow;
  color: white;
  font-weight: bold;
  padding: 4px 7px;
  text-align: center;
  text-decoration: none;
  transition: 0.6s;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
}

.products-list {
  padding: 20px;
}

.product-item {
  position: relative;
  display: inline-table;
  padding: 20px 10px 20px 10px;
  margin: 10px 30px;
  border-color: black;
  border-style: solid;
  border-radius: 0px;
  border-width: 2px;
  background-color: whitesmoke;
  width: 18%;
  text-align: center;
}
.product-item span {
  vertical-align: middle;
}

.form-group {
  display: table-row;
}
.form-group .form-element {
  margin: 5px;
  padding: 5px;
  display: table-cell;
}
.form-group .form-label {
  margin: 5px;
  padding: 5px;
  display: table-cell;
  width: 200px;
  font-size: 1.2em;
}

.description {
  display: block;
  max-width: 40%;
  margin-top: 10px;
}

.error-msg {
  padding: 5px 10px;
  border-radius: 3px;
  color: #800;
  margin: 5px 5px;
  background-color: red;
  font-weight: 500;
  font-size: 1em;
  display: inline-block;
}

.cb {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
}

/*# sourceMappingURL=style.css.map */
